<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <div class="container">
        <h1>Sign In</h1>
        <form action="/" method="post">
            <div class="form">
                <i class="fa fa-envelope "></i>
                <input type="email" name="Email" placeholder="Enter your Email" />
            </div>
            <div class="form">
                <i class="fa fa-key"></i>
                <input type="password" name="Password" placeholder="Enter your Password" />
            </div>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
<script src="https://kit.fontawesome.com/5deea4382f.js" crossorigin="anonymous">
</script>

</html>